.listItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    width: calc(100% / 5);
    background-color: blueviolet;
    color: aliceblue;
}

.label {}

.percentage {
    margin-top: 10px;
}

.section {
    width: 375px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.8);
}

.title {
    margin: 0;
    padding: 30px 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
}

.statList {
    display: flex;
    justify-content: center;
}